<div style="display:flex;flex-direction:row;justify-content: space-evenly;flex-wrap:wrap">
  <div routerLink="events" style="display:flex;flex-direction:column;outline:none;height: 20vh;padding:15px 30px;justify-content: center;align-items: center">
    <img src="assets/events.png" alt="events" style="cursor:pointer" height=75 width="75">
    Events
  </div>
  <div routerLink="posts" style="display:flex;outline:none;flex-direction:column;height: 20vh;padding:15x 30px;justify-content: center;align-items: center">
      <img style="cursor:pointer" alt="posts" src="assets/post.svg" height=75 width="75">
    Posts
  </div>
 <!--  <div  style="display:flex;height: 20vh;padding:15px 30px;outline:none;flex-direction:column;justify-content: center;align-items: center">
      <img style="cursor:pointer" alt="people" src="assets/people.png" height=75 width="75">
    People
  </div> -->
  <div routerLink="news" style="display:flex;height: 20vh;padding:15px 30px;outline:none;flex-direction:column;justify-content: center;align-items: center">
      <img style="cursor:pointer" alt="people" src="assets/news.svg" height=75 width="75">
    News
  </div>
</div>